USE [master]
GO
/****** Object:  Database [notemanager]    Script Date: 30/10/2015 19:47:24 ******/
CREATE DATABASE [notemanager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'notemanager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\notemanager.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'notemanager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\notemanager_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [notemanager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [notemanager]
GO
/****** Object:  Table [dbo].[notes_notes]    Script Date: 30/10/2015 19:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notes_notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[content] [text] NOT NULL,
	[date_creation] [datetime] NOT NULL,
	[date_update] [datetime] NULL,
 CONSTRAINT [PK_notes_notes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users_users]    Script Date: 30/10/2015 19:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [PK_notemanager_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[notes_notes]  WITH CHECK ADD  CONSTRAINT [FK_notes_notes_users_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users_users] ([id])
GO
ALTER TABLE [dbo].[notes_notes] CHECK CONSTRAINT [FK_notes_notes_users_users]
GO
USE [master]
GO
